*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --primary-color: rgb(29, 90, 201, 0.5);
    --transparent:  rgba(0, 0, 0, 0.25);
}

body{
    display: flex;
    font-family: 'Cinzel', serif;
    background-image: url(./img/sky.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

#side_nav{
    width: 400px;
    margin: 0 0.5%;
    padding: 20px;
    background-color: var(--transparent);
}

#side_nav img{
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 50%;
}

#side_nav h1{
    margin-top: 20%;
    font-size: 2rem;
    color: white;
}

.imagem{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

.contatos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center ;
    color: white;
}

.contatos a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: rgba(20, 20, 155);
    color: white;
    width: 50% ;
    margin-bottom: 5%;
    font-size: 1.25rem;
    padding: 10%;
    border-radius: 10px;
}

.contatos a:hover{
    background-color: rgb(15, 15, 100);;
}

.content{
    background-color: var(--transparent);
    width: 100%;
}

.sobre, .jornada, .net{
    margin: 15px;
    border-radius: 10px;
}

.sobre{
    display: flex;
    flex-direction: column;
    text-align: justify;
    flex-wrap: wrap;
    padding: 15px;
    background-color: var(--primary-color);
    color: white;
    font-size: 18px;
}

#dados{
    display: flex;
    flex-direction: column;
    margin: 0px 15px;
}

#dados h3{
    font-size: 15px;
}

.jornada{
    display: flex;
    flex-direction: column;
    text-align: justify;
    flex-wrap: wrap;
    padding: 15px;
    background-color: var(--primary-color);
    color: white;
    font-size: 18px;
}

.net{
    display: flex;
    flex-direction: column;
    text-align: justify;
    flex-wrap: wrap;
    padding: 15px;
    background-color: var(--primary-color);
    color: white;
    font-size: 24px;
}

.inspiracao{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    margin: 0 10%;
    overflow: auto;
}

.perfil-inspiracao{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 166, 0, 0.503);
    border-radius: 10px;
    padding: 5px;
    margin: 15px;
    width: 275px;
    height: 325px;
}

.perfil-inspiracao img{
    display: flex;
    border-radius: 50%;
    width: 200px;
}

.perfil-inspiracao h2{
    display: flex;
    justify-content: center;
    color: black;
    width: 100%;
}

.link{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 10px;
    background-color: red;
    width: 50%;
    font-size: 18px;
    color: white;
}

.link a{
    text-decoration: none;
    color: white;
}

.buttom a{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 100%;
    padding: 20px;
    background-color: red;
}

.b1{
    display: flex;
    position: fixed;
    bottom: 1%;
    right: 1%;
}

hr{
    border-top: 1.5px solid black;
}



@media screen and (max-width: 767px) {

    main div{
        display: flex;
        flex-direction: column;
    }

    #side_nav{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0);
        width: 100vw;
        margin: 0 15px;
    }

    .imagem{
        display: flex;
        text-align: center;
        width: 225px;
        margin: 0;
    }

    .contatos{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    .contatos a{
        width: 100%;
    }

    .content{
        width: 100%;
    }
    .sobre, .jornada, .net{
        margin: 15px;
        border-radius: 10px;
    }
    
    .sobre{
        display: flex;
        flex-direction: column;
        text-align: left;
        flex-wrap: wrap;
        padding: 15px;
        background-color: var(--primary-color);
        color: white;
        font-size: 18px;
    }
    

    #dados h3{
        font-size: 12px;
    }
    
    .jornada{
        display: flex;
        flex-direction: column;
        text-align: left;
        flex-wrap: wrap;
        padding: 15px;
        background-color: var(--primary-color);
        color: white;
        font-size: 18px;
    }

    .net{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 15px;
        background-color: var(--primary-color);
        color: white;
        font-size: 24px;
    }
    
    .inspiracao{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin: 0;
        width: 100%;
        overflow: auto;
    }
    
    .perfil-inspiracao{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 166, 0, 0.503);
        border-radius: 10px;
        padding: 5px;
        width: 275px;
        height: 325px;
    }
    
    .perfil-inspiracao img{
        display: flex;
        border-radius: 50%;
        width: 200px;
    }
    
    .perfil-inspiracao h2{
        display: flex;
        justify-content: center;
        color: black;
        width: 100%;
    }
    
    .link{
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin: 0;
        padding: 10px;
        background-color: red;
        width: 50%;
        font-size: 18px;
        color: white;
    }
    
    .link a{
        text-decoration: none;
        color: white;
    }

    .buttom a{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 100%;
        padding: 20px;
        background-color: red;
    }
    
    .b1{
        display: flex;
        position: fixed;
        bottom: 1%;
        right: 1%;
    }
}








@media screen and (min-width: 768px) and (max-width: 1100px){

    #side_nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);
        width: 50%;
        margin: 0;
    }

    .imagem{
        width: 225px;
        margin: 0;
    }

    .contatos{
        width: 50%;
    }

    .contatos a{
        width: 100%;
    }

    .content{
        width: 100%;
    }
    .sobre, .jornada, .net{
        margin: 15px;
        border-radius: 10px;
    }
    
    .sobre{
        display: flex;
        flex-direction: column;
        text-align: left;
        flex-wrap: wrap;
        padding: 15px;
        background-color: var(--primary-color);
        color: white;
        font-size: 18px;
    }
    

    #dados h3{
        font-size: 12px;
    }
    
    .jornada{
        display: flex;
        flex-direction: column;
        text-align: left;
        flex-wrap: wrap;
        padding: 15px;
        background-color: var(--primary-color);
        color: white;
        font-size: 18px;
    }

    .net{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 15px;
        background-color: var(--primary-color);
        color: white;
        font-size: 24px;
    }
    
    .inspiracao{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin: 0;
        width: 100%;
        overflow: auto;
    }
    
    .perfil-inspiracao{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 166, 0, 0.503);
        border-radius: 10px;
        padding: 5px;
        width: 275px;
        height: 325px;
    }
    
    .perfil-inspiracao img{
        display: flex;
        border-radius: 50%;
        width: 200px;
    }
    
    .perfil-inspiracao h2{
        display: flex;
        justify-content: center;
        color: black;
        width: 100%;
    }
    
    .link{
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin: 0;
        padding: 10px;
        background-color: red;
        width: 50%;
        font-size: 18px;
        color: white;
    }
    
    .link a{
        text-decoration: none;
        color: white;
    }

    .buttom a{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 100%;
        padding: 20px;
        background-color: red;
    }
    
    .b1{
        display: flex;
        position: fixed;
        bottom: 1%;
        right: 1%;
    }
}